

/* Link {
  width:
} */

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  display:flex;
}
.main-container {
  display:flex;
  flex-direction: column;
  height: 100vh;
  width: 100vw;
}

.login, .create {
  display:flex;
  height: 100vh;
  width: 100vw;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}
.user-create-input {
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:flex-end;
}
.form-select {
  border: 0 transparent;
  height: 4vh;
  margin-bottom: 2vh;
  width: 60vw;
  height: 4vh;

}




.form-btn {
  border-style: none;
  border-radius: 4px;
  height: 4vh;
  margin-bottom: 2vh;
  width: 60vw;
  height: 4vh;
  margin-top: 1vh;
}
button{
  border: 0px;
}
.logo {
  margin-top: 10vh;
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items:center;

}
.mylogo {
  font-family: 'Megrim', cursive;
  font-size: 9vh;
}
#upload_widget {
  padding:0;
  background-color: #DCDCDC;
  width: 60vw;
  color: black;
  font-weight: bold;
  font-family: 'Saira Condensed', sans-serif;

}




.create-account {
  display:flex;
  background-color: #DCDCDC;
  margin-top:5vh;
  height:5vh;
  align-items: center;
  padding: 2vh;

}

.login-button {
  margin-bottom: 5vh;
  height: 5vh;
  font-family: 'Saira Condensed', sans-serif;
  font-weight:bold;

}

.login-link {
  display:flex;
  flex-direction:column;
}

.login-form, .create-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.create-form {
  margin-top: 2vh;
}

.form-item {
  margin-bottom: 2vh;
  width: 60vw;
  height: 3vh;
}


.navbar {
  /* background-color: #DCDCDC; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  height: 14vh;
  border-bottom: black 1px solid;

}
.profilebox,.matchbox, .chatview {
  display:flex;
  flex-direction: column;
  align-items: center;
  height: 84vh;
  font-family: 'Saira Condensed', sans-serif;
}
.newmatch-box {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  height: 86vh;
  font-family: 'Saira Condensed', sans-serif;
  font-size: 4vh;

}

.newmatch-notify {
  font-family: 'Saira Condensed', sans-serif;
}

.newmatch-logo {
  font-family: 'Megrim', cursive;
  margin-bottom: 5vh;
}


.newmatch-data {
  display:flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-weight: bold;
}
.newmatch-buttons {
  display:flex;
  flex-direction: column;
  width: 50vw;
}
.newmatch-btn {
  background-color: #DCDCDC;
  width: 50vw;
  height: 4vh;
  margin-bottom: 4vh;
  border-radius: 4px;
  font-weight:bold;
  font-size:3vh;
  text-align: center;
  text-justify:center;
  padding: 0.4vh 0.4vh;
}
.profile {
  display:flex;
  margin-top: 4vh;
  width: 80%;
  justify-content: space-between;
  font-weight:bold;
}
.profile-button {
  width:30%;
  margin-top:7vh;
  height:5vh;
  font-weight: bold;


}
.logout-button {
  width: 30%;
  position: absolute;
  bottom: 5vh;
  background-color: red;
  height: 5vh;
  font-weight: bold;
  line-height: 34px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.value {
  margin-left: 2vh;
}

.sport-input {
  width:50vw;
}
.skilldiv .rangediv {
  width:50vw;

}
.range {
  width:60%;
}
.usercontainer  {
  margin-top: 2vh;
  display:flex;
  flex-direction: column;
  width: 99vw;
  flex: 7;
  align-items:space-around;
  justify-content:center;
}

/* .container {
  width: 70vw;
  height:60vh;
  margin-top:5vh;

} */
/* .cards_container {
  width: 80vw;
  height:60vh;
  align-self:center;
  justify-self:center;

} */


.navbutton {
  height: 8vh;
  width: 8vh;
}
.navmatch {
  margin-top: 3vh;
}

.profilpic {
  border-radius: 100%;
  background-image: url('./files/nadal2.jpg');
  background-size:contain;
  background-repeat: no-repeat;
}

/* .userpic {
  display:flex;
  width: 80%;
  height: 70vh;
} */

.pic {
  margin: 2vh;
  height:80%;
  width: 80%;
  background-size:cover;
  background-position: center;
background-repeat: no-repeat;
  align-self: center;
}

.userinfo {
  font-size:5vh;
  display:flex;
  width:100%;
  justify-self:center;
  justify-content: space-around;
  margin-bottom: 2vh;


}

.username {
  background-color: white;
  padding: 0 2%;
  font-weight: bold;
  text-align: center;
  text-justify: center;
  border-radius: 8px;
}


.thedescription {
  width: 95%;
  align-self:center;
  background-color: white;
  position:absolute;
  bottom: 18%;

  border-radius: 8px;

}
.button {

}

.sub-description {
  margin-bottom: 2vh;
}
.theskill1 {
  margin-right: 2vh;
  font-weight: bold;
}
.theskill2 {
  display:flex;
  align-items:center;
}
.sub-description, .theskill1 {
  padding: 1vh 1vh;
}
.skillArr {
  /* margin-bottom: 2vh; */
  display: flex;
  align-items: center;
  justify-content: center;
}
.chatskill {
  margin-top: 3vh;
}
.descriptiondiv {
  background-color: white;
  padding: 0 0.5vh;
  border-radius: 8px;
}

.userdescription {
  height: 3vh;
  width: 3vh;

}
.userskill {
  margin: 2.7vh 2.7vh;
  display:flex;
/*  */
}

.skillimg{
  margin-bottom: 0.5vh;
  height: 3vh;
  width: 3vh;
}

.decision-container {
  /* background-color: #DCDCDC; */
  display: flex;
  height: 14vh;
  align-items: center;
  width: 100%;
  justify-content: space-around;
  /* border-top: 1px solid black; */
}

.noplayers {
  margin-top: 2vh;
  font-size: 3vh;
}

.decide {
  border-radius:100%;
  height: 8vh;
  width: 8vh;
  /* background-color: #DCDCDC; */
}



.yes {
  background-image: url('./files/tick3.svg');
  background-size: cover;

}

.no {
  background-image: url('./files/cross3.svg');
  background-size: cover;


}


.chatpic {
  border-radius: 100%;
  object-fit: fill;
  height: 8vh;
  width: 8vh;
  margin-left:1.2vh;

}

.matched {
  display:flex;
  height: 12vh;
  flex-direction:row;
  align-items: center;
  width: 100%;
  justify-content: flex-start;
  border-bottom: 1px solid black;

}

.chatoverview {
  display: flex;
  flex-direction: column;
  flex: 7;
  width:100%;


}

a,
.chatoverview > a,
.chatoverview > a:visited
{
  text-decoration: none;
  color: inherit;
}

.chatpreview {
  display:flex;
  flex-direction: row;
  height: 12vh;
  align-items:center;
}

.msgheader {

  display: flex;
  flex-direction: column;
}

.msgname {

  font-weight: bold;
}
.msgpreview {
  margin-left: 3vh;
  text-decoration: none;
}

.message-container {
  display:flex;
  flex-direction: column;
  height: 71vh;
}


.the-message-list {
  display: flex;
  flex-direction: column;



}
.chatpartner {
  display:flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 1vh 0;
  width: 100%;
}
.sub-partner {
  display: flex;
  justify-self: flex-start;
  justify-content: flex-start;


}

.inchatpic {
  margin-left: 2vh;
}
.partnername {
  font-weight: bold;
  align-self:center;
  margin-left:3vh;
}
.chatdescription {
  width:3vh;
  height:3vh;
  align-self: center;

}
.description-box-chat {

  width: 90%;
  margin-top: 1vh;
  align-self: center;
  z-index:100;
  height:55vh;
  border: 1px solid black;
  padding: 1vh;
  border-radius: 4px;


}

.message {
  display: flex;
  max-width: 60%;
  text-justify: center;
  padding: 0.1vh 0.7vh;
  margin-top: 1vh;
  border: 1px solid black;
  border-radius:4px;
  background-color: #DCDCDC;


}

.received {
  align-self: flex-start;
  margin-left: 3vh;
}

.sent {
  align-self: flex-end;
  margin-right: 3vh;

}

.inputbox {
  border-top: 1px solid black;
  height:12vh;
  display:flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

}

.sendmsg {
  margin:0 4vw 0 0;
  padding: 1vh;

  width: 50%;

}
.sendbtn {
  margin:0;
  padding: 1vh;
  font-weight: bold;
  font-family: 'Saira Condensed', sans-serif;
}

.form-btn {
  height: 4vh;
  margin:0;

  font-weight: bold;
  font-family: 'Saira Condensed', sans-serif;
}

.loading {
  position: fixed;
  top: 47%;
  left: 40%;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@media only screen and (min-width: 600px) {
  .main-container {
    margin-top: 1vh;
    height: 98vh;
    width: 28vw;
    position: absolute;
    left: 36vw;
    border: 2px solid black;
  }
  .container {
    height: 95% !important;
  }
}